<h1>Stolen Bike Report</h1>
<p>please find attached a report document on a stolen bike.</p>
<p>Click the link below to access your report:</p>
<p><a href="<%= @url %>">View your report</a></p>

<p>Thanks you for the time you will take on that matter</p>
