<div class="footer row text-center d-flex justify-content-around align-items-center">

      <div class="col-md-6"><p>&copy 2025 Velofind, Inc</p></div>
      <div class="col-md-6">
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></i></a>
        <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>

  </div>
