<div class="container my-5">
  <h1 class="h3 mb-2 text-blue">All Matches</h1>
  <p class="text-muted mb-4">Here are all your matches across all your registered bikes.</p>

  <section class="matches-section py-5 px-3 px-md-5">
    <div class="row justify-content-center">
      <% if @matches.any? %>
        <% @matches.each_with_index do |match, index| %>
          <%= render partial: "match", locals: { match: match, index: index } %>
        <% end %>
      <% else %>
        <div class="d-flex justify-content-center align-items-center">
          <p>No matches found yet 😞</p>
        </div>
      <% end %>
    </div>
  </section>
</div>
